block content
head
  title About Us
  style.
    .about-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
    text-align: center;
    }
    .about-container h2 {
    color: #333;
    }
    .about-container p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    }
    .team-section {
    margin-top: 20px;
    }
    .team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    }
    .team-member img {
    border-radius: 70%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    }
    .team-member h3 {
    color: #333;
    }
  .about-container
  h2 About Us
  p
    | Welcome to our company&apos;s About Us page. We are a dedicated team of professionals committed to providing high-quality products/services. we are student studying at DARES SALAAM INSTITUTE OF TECHNOLOGY we have in practice about software engineering knowledge based on node js and pug language you now see our system like its my name is CHRISPIN VENANCE KULANGA paticipated with GODSON KAKULWA
  .team-section
    .team-member
      h3 CHRISPIN KULANGA
      p CEO
    .team-member
      h3 GODSON KAKULWA
      p CTO
    // Add more team members as needed
